table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
thead {
    font-size: 16px;
}
tbody {
    font-size: 14px;
}

tbody td {
  background: #eee;
}
tbody tr:nth-child(odd) td {
  background: #fff;
}
thead tr {
    height: 40px;
}
thead th:nth-child(1) {
    width: 25%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3) {
    width: 10%;
}
thead th:nth-child(4) {
    width: 20%;
}
thead th:nth-child(5) {
    width: 35%;
}
tbody tr {
    height: 60px;
}
tbody td:nth-child(1) {
    width: 25%;
}
tbody td:nth-child(2) {
    width: 20%;
}
tbody td:nth-child(3) {
    width: 10%;
}
tbody td:nth-child(4) {
    width: 20%;
}
tbody td:nth-child(5) {
    width: 35%;
}

.flex {
    display: flex;
    gap: 5px;
}