.message-form-list {
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.message {
    margin-bottom: 10px;
}
.title {
    background-color: #d3d3d3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.title span {
    text-align: center;
}
.detail {
    margin-top: 15px;
}
.account {
    color: #666;
    font-size: 10px;
    margin: 0;
    margin-bottom: 5px;
    line-height: 1;
}
.category {
    border: 1px solid #666;
    color: #666;
    font-size: 10px;
    padding: 0 10px;
    height: 16px;
    border-radius: 8px;
}
.detail {
    padding: 0 15px;
}
.text {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}
.delete-btn {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.comment-form {
    padding: 0 15px;
    text-align: center;
}
.comment-form textarea {
    width: 100%;
}
.comment-form input {
    margin-top: 9px;
    width: 223px;
    height: 40px;
}
.comment-list {
    margin-top: 15px;
    padding: 0 15px;
}
.comment-list .text {
    border: none;
    padding-top: 0;
    font-size: 14px;
}
.account p {
    margin: 0;
}

.search-form {
    max-width: 100%;
    margin: 30px 0;
    padding: 15px 15px;
    border: 1px solid #ccc;
}
.search-form-content {
    display: flex;
    gap: 10px;
}
.search-form-date {
    width: calc((100% - 10px) / 2);
}
.search-form-category {
    width: calc((100% - 10px) / 2);
}
label {
    display: block;
    font-size: 16px;
}
.start {
    margin-bottom: 10px;
}
.search-form button {
    margin-top: 10px;
    width: 223px;
    height: 40px;
}
.button {
    text-align: center;
}
.search-form-content input {
    height: 24px;
}
.search-form-content select {
    height: 24px;
}
