/*post.css*/
.post-container {
    width: 100%;
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 10px 0 5px 0;  \
    font-size: 16px;
}

input[type="text"],
textarea {
    padding: 5px 10px;
    width: 100%;           /* 親幅に合わせる */
    font-size: 16px;
    margin-bottom: 20px;   /* 要素間の間隔 */
}

textarea{
    width: 100%;
    height: 259px;
    padding: 5px 10px;
}

.post-container .menu_btn {
    margin-bottom: 20px;
}