.contents {
    max-width: 640px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
}

.menu_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.menu_btn .btn {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    width: calc((100% - 20px) / 3);
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:
}

.btn a {
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.error-messages{
    border: 1px solid;
    margin-bottom: 10px;
}

.error-messages ul {
    padding: 0 10px;
    list-style-type: none;
}

.submit-button input {
    width: 223px;
    height: 40px;
}
.submit-button {
    text-align: center;
}