<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/normalize.css}" rel="styleSheet">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <link th:href="@{/css/signup.css}" rel="styleSheet">
    <title>ユーザー編集画面</title>
</head>
<body>
    <div class="contents">
        <h1>ユーザー編集画面</h1>
        <!--メニュー-->
        <div class="menu_btn">
            <a th:href="@{/user/list}" class="btn">ユーザー管理画面</a>
            <a th:href="@{/}" class="btn">ホーム画面</a>
        </div>

        <!--エラーメッセージ-->
        <div th:if="${errorMessages != null}" class="error-messages">
            <ul>
                <li th:text="${errorMessages}"></li>
            </ul>
        </div>

        <!--更新フォーム-->
        <form th:action="@{/user/editInfo/{id}(id=${userEditForm.id})}" th:object="${userEditForm}" method="post">
            <input type="hidden" th:field="*{id}">
            <table>
                <tbody>
                <tr>
                    <td class="first">
                        <!--フォームの名前-->
                        アカウント
                    </td>
                    <td class="second">
                        <!--フォームタグはここに-->
                        <input type="text" th:field="*{account}" placeholder="6~20文字で入力してください">
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <!--フォームの名前-->
                        パスワード
                    </td>
                    <td class="second">
                        <!--フォームタグはここに-->
                        <input type="password" th:field="*{password}" placeholder="6~20文字で入力してください">
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <!--フォームの名前-->
                        パスワード（確認用）
                    </td>
                    <td class="second">
                        <!--フォームタグはここに-->
                        <input type="password" th:field="*{confirmPassword}" placeholder="パスワードを再入力してください">
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <!--フォームの名前-->
                        氏名
                    </td>
                    <td class="second">
                        <!--フォームタグはここに-->
                        <input type="text" th:field="*{name}" placeholder="10文字以下で入力してください">
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <!--フォームの名前-->
                        支社
                    </td>
                    <td class="second">
                        <!--フォームタグはここに-->
                        <p th:if="${userEditForm.id == loginUser.id}">
                            ※管理者は自身の支社と部署を変更できません
                        </p>
                        <select th:field="*{branchId}" th:disabled="${userEditForm.id == loginUser.id}">
                            <option value="">--支社を選択--</option>
                            <option value="1">本社</option>
                            <option value="2">支社A</option>
                            <option value="3">支社B</option>
                            <option value="4">支社C</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <!--フォームの名前-->
                        部署
                    </td>
                    <td class="second">
                        <!--フォームタグはここに-->
                        <select th:field="*{departmentId}" th:disabled="${userEditForm.id == loginUser.id}">
                            <option value="">--部署を選択--</option>
                            <option value="1">総務人事部(本社のみ)</option>
                            <option value="2">情報管理部(本社のみ)</option>
                            <option value="3">営業部</option>
                            <option value="4">技術部</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <button type="submit">編集</button>

            <!--        <label>アカウント：</label>-->
            <!--        <input type="text" th:field="*{account}"><br>-->

            <!--        <label>パスワード：</label>-->
            <!--        <input type="password" th:field="*{password}"><br>-->

            <!--        <label>確認用パスワード：</label>-->
            <!--        <input type="password" th:field="*{confirmPassword}"><br>-->

            <!--        <label>氏名：</label>-->
            <!--        <input type="text" th:field="*{name}"><br>-->


            <!--        <p th:if="${userEditForm.id == loginUser.id}">-->
            <!--            ※管理者は自身の支社と部署を変更できません-->
            <!--        </p>-->

            <!--        <label>支社</label>-->
            <!--        <select th:field="*{branchId}" th:disabled="${userEditForm.id == loginUser.id}">-->
            <!--            <option value="">&#45;&#45;支社を選択&#45;&#45;</option>-->
            <!--            <option value="1">本社</option>-->
            <!--            <option value="2">支社A</option>-->
            <!--            <option value="3">支社B</option>-->
            <!--            <option value="4">支社C</option>-->
            <!--        </select><br/>-->

            <!--        <label>部署</label>-->
            <!--        <select th:field="*{departmentId}" th:disabled="${userEditForm.id == loginUser.id}">-->
            <!--            <option value="">&#45;&#45;部署を選択&#45;&#45;</option>-->
            <!--            <option value="1">総務人事部(本社のみ)</option>-->
            <!--            <option value="2">情報管理部(本社のみ)</option>-->
            <!--            <option value="3">営業部</option>-->
            <!--            <option value="4">技術部</option>-->
            <!--        </select><br/>-->

        </form>
    </div>
</body>
</html>