<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
</head>
<body>
    <h1>ホーム画面</h1>

    <!--menu-->
    <div>
        <!--新規投稿画面へのリンク-->
        <a th:href="@{/post]">新規投稿画面</a>
        <!--ユーザー管理画面へ遷移するリンク（本社総務人事部のみ遷移可能）-->
        <div th:if="${buttonFlag == 'ON'}">
            <a th:href="@{user/list}">ユーザー管理画面</a>
        </div>
        <!--ログアウトボタン-->
        <a th:href="@{/logout}">ログアウト</a>
    </div>


    <!--絞り込み入力-->


    <!--エラーメッセージ表示-->

    <!--投稿表示　件名・カテゴリー・本文・投稿日時・投稿者（氏名）-->
    <!--コメント入力欄-->
    <!--コメント一覧-->

</body>
</html>